* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --darkBlue: #0F384D;
    --blue: #0074AF;
    --orange: #EE8134;
    --darkGreen: #08342F;
    --green: #09A897;
    --yellow: #FCC901;
}

html {
    scroll-behaviour: smooth;
}

body {
    overflow-x: hidden;
}

.mobile-header {
  display: none;
}

.toggleHB {
  transform: translateX(0);
  transition: all .6s;
}

.close {
  display: none;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0 200px;
    z-index: 1;
    background-color: var(--darkBlue);
    cursor: default;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
}

nav ul li {
    font-family: 'Montserrat';
    font-size: 16px;
    color: white;
    cursor: pointer;
    opacity: .7;
    transition: all .3s ease-in-out;
}

nav ul li:hover {
    opacity: 1;
}

nav a img {
    height: 100%;
}

header {
    position: relative;
    height: 100vh;
    padding-top: 300px;
    background-color: var(--darkBlue);
}

h1 {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
}
.button {
    position: relative;
    z-index: 10;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 16px;
    width: 120px;
    height: 40px;
    color: white;
    background-color: var(--orange);
    text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    transition: 0.6s;
    border: none;
  }
  .button span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
  }
  .button .light {
    position: relative;
    width: 50px;
    height: 150px;
    background-color: white;
    transform: skew(-20deg) translate(-250px, -75px);
  }
  .button:hover {
    transform: scale(1.05);
  }
  .button:hover .light {
    background-color: rgba(255, 255, 255, 0.1);
    transform: skew(-20deg) translate(250px, -75px);
    transition: 1.5s;
  }

  main {
    padding-top: 100px;
    font-family: 'Montserrat';
    height: 100vh;
  }

  main p, main h2 {
    max-width: 900px;
    margin: auto;
  }
  main h2 {
    margin-bottom: 16px;
  }
  main p {
    line-height: 25px;
  }

  @media only screen and (max-width: 1300px) {
    nav {
      height: 90px;
      padding: 0 60px;
  }
  
  nav ul {
      gap: 20px;
  }
  
  header {
      padding-top: 250px;
  }
  
  h1 {
      font-size: 45px;
  }
  
    main {
      padding-top: 100px;
      padding: 100px 60px;
      font-family: 'Montserrat';
      height: 100vh;
    }
  
    main p, main h2 {
      max-width: 900px;
      margin: auto;
    }
    main h2 {
      margin-bottom: 16px;
    }
  }

  @media only screen and (max-width: 900px) {
    .mobile-header {
      position: fixed;
      top: 0;
      width: 100%;
      height: 80px;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .mobile-header a .logo{
      height: 60px;
    }
    .mobile-header > img {
      position: relative;
      height: 40px;
      z-index: 11;
    }
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      transform: translateX(-100%);
      height: 100vh;
      padding: 0;
      z-index: 10;
      background-color: var(--darkBlue);
  }
  nav > img {
    height: 40px;
    position: absolute;
    top: 20px;
    right: 33px;
  }
  
  nav ul {
      display: flex;
      gap: 30px;
      flex-direction: column;
      align-items: center;
      list-style: none;
  }
  
  nav ul li {
      font-size: 20px;
      opacity: 1;
  }
  
  nav a img {
      display: block;
      margin: auto;
      height: 200px;
  }
  
  header {
      position: relative;
      height: 100vh;
      padding-top: 300px;
      background-color: var(--darkBlue);
  }
  
  h1 {
      position: relative;
      z-index: 1;
      color: white;
      text-align: center;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
  }
  .button {
      position: relative;
      z-index: 10;
      overflow: hidden;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      font-family: 'Montserrat';
      font-size: 16px;
      width: 120px;
      height: 40px;
      color: white;
      background-color: var(--orange);
      text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);
      border-radius: 3px;
      transition: 0.6s;
      border: none;
    }
    .button span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
    }
    .button .light {
      position: relative;
      width: 50px;
      height: 150px;
      background-color: white;
      transform: skew(-20deg) translate(-250px, -75px);
    }
    .button:hover {
      transform: scale(1.05);
    }
    .button:hover .light {
      background-color: rgba(255, 255, 255, 0.1);
      transform: skew(-20deg) translate(250px, -75px);
      transition: 1.5s;
    }
  
    main {
      padding-top: 100px;
      font-family: 'Montserrat';
      height: 100vh;
    }
  
    main p, main h2 {
      max-width: 900px;
      margin: auto;
    }
    main h2 {
      margin-bottom: 16px;
    }
    main p {
      line-height: 25px;
    }
  }