@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  user-select: none;
}
a {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #fff;
  background: #141414;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
h2 {
  font-size: clamp(1rem, 5vw, 5rem);
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  margin-right: -0.5em;
  width: 90vw;
  max-width: 1200px;
  white-space: nowrap;
}
section {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
}
section .outer,
section .inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
section .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
}
section .bg h2 {
  z-index: 2;
}
section .bg .clip-text {
  overflow: hidden;
}
.first .bg {
  color: white;
  background: linear-gradient(50.35deg, rgba(8, 52, 46, 1) 30.14%, rgba(9, 167, 149, 1) 77.9%);
}
.second .bg {
  color: #0F384D;
  background-color: #FFFEFB;
}
.third .bg {
  flex-direction: column;
  color: #0F384D;
  background-color: #FFFEFB;
}

.content {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  text-transform: none;
}

.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-heading i {
  font-size: 3rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-heading i.fa-github-alt {
  font-size: 3.2rem;
}
