* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
}
header {
    color: black;
    background-color: #FFFEFB;
}

header .section-1 {
    color: red;
}

section {
	border-bottom: 1px solid white;
	padding: 1rem;
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
}

main {
    position: relative;
    padding: 100px 0 100px;
    color: #0F384D;
    background-color: #FFFEFB;
}

main section {
    display: flex;
    gap: 80px;
    align-items: center;
    width: 980px;
    margin: 40px auto 0;
    background-color: white;
}

p {
    font-family: 'Poppins';
    font-size: 19px;
    text-align: left;
    line-height: 30px;
}

h1	{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
	left: 0;
	font-size: calc(1rem + 3vw);
}